/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

/* General Components */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
}
/* End General Components */

/* Utility Classes */
.green-color {
  color: #93cb52;
}
/* End Utility Classes */

/* Navbar */
.navbar {
  font-weight: 100;
}
.navbar .navbar-brand h3 {
  font-weight: 100;
}

.nav-item {
  margin-right: 30px;
}

.nav-link {
  padding-bottom: 0;
}

.nav-link:hover {
  transition: border 0.2s;
  border-bottom: 1px solid #93cb52;
}

/* End: Navbar */

/* Media Query */
@media (max-width: 768px) {
  .navbar {
    background: #1f1f1f;
    opacity: 0.8;
  }

  .nav-link:hover {
    border-bottom: none;
  }
}
